<h3><%= meetup.name %> Meetup</h3><br>
Date: <%= meetup.date %> <br><br>
Location: <%= meetup.location %> <br><br>
Description: <%= meetup.description %>
<br><br>
Join Meetup: <%= meetup.name %> <br> <br>

People Attending: <% meetup.users.each do |user| %>
<p><%= user.username %></p>
<% end %>


<form action="/join_meetup" method="post">
<button name="id" value="<%= meetup.id %>" type="submit">Join Meetup!</button>
</form>
