<h3><%= meetup.name %> Meetup</h3><br>
Date: <%= meetup.date %> <br><br>
Location: <%= meetup.location %> <br><br>
Description: <%= meetup.description %>
<br><br>


<% if user_attending(meetup) %>
  <form action="/leave_meetup" method="post">
    <button name="id" value="<%= meetup.id %>" type="submit">Leave Meetup! <%= meetup.name %></button>
  </form>
<%else%>
  <form action="/join_meetup" method="post">
    <button name="id" value="<%= meetup.id %>" type="submit">Join Meetup! <%= meetup.name %> </button>
  </form>
<% end %>
 <br> <br>
People Attending: <% meetup.users.each do |user| %>
<p><img src="<%= user.avatar_url %>" style="width:100px;height:100px;"><br>
  <%= user.username %></p>

<% end %>
